@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@300;400;500;600;700&family=Handlee&family=Staatliches&display=swap');

$font1 :'Amatic SC', cursive;
$font2 :'Balsamiq Sans', cursive;
$font3 : 'Comfortaa', cursive;
$font4 : 'Handlee', cursive;
$font5 : 'Staatliches', cursive; 

// $color1 : #563727;
// $color2 : #372c2e;
// $color3 : #ffffff;
// $color4 : #de9e48;
// $color5 : #7a431d;

// $color1 : #f2f1ef;
// $color2 : #b1a6a4;
// $color3 : #697184;
// $color4 : #d8cfd0;
// $color5 : #413f3d;


// $color1 : #596854;
// $color2 : #7F803E;
// $color3 : #CC9A52;
// $color4 : #AD794B;
// $color5 : #FCE4B4;

// $color1 : #18363E;
// $color2 : #5F97AA;
// $color3 : #2D5F6E;
// $color4 : #3E88A5;
// $color5 : #93C4D1;


// $color1 : #C6808C;
// $color2 : #6D5B87;
// $color3 : #44364B;
// $color4 : #EC745C;
// $color5 : #F5AD8C;

// $color1 : #0F0E11;
// $color2 : #23252D;
// $color3 : #2B2D35;
// $color4 : #3A3C44;
// $color5 : #46484F;


// Hex Codes: #596854 | #7F803E | #CC9A52 | #AD794B | #FCE4B4
// Hex Codes: #18363E | #5F97AA | #2D5F6E | #3E88A5 | #93C4D1
// Hex Codes: #C6808C | #6D5B87 | #44364B | #EC745C | #F5AD8C
// Purple Hex Codes: #5A2555 | #5D2A7B | #7948A2 | #A063C8 | #BE8CE5 
// Red Hex Codes: #4B1517 | #7C1715 | #9E1C29 | #AB2838 | #B84656 
// Blue Hex Codes: #20498A | #3D6FAD | #4A88C5 | #88AEDB | #BBDAF2
// Orange Hex Codes: #AA3815 | #BC4D1D | #D36833 | #ED7D51 | #EFA17F
// Black Hex Codes: #0F0E11 | #23252D | #2B2D35 | #3A3C44 | #46484F
// Brown Hex Codes: #66422D | #966045 | #B26E4B | #C7976F | #EBD2BC
// Hex Codes: #18363E | #5F97AA | #2D5F6E | #3E88A5 | #93C4D1
// Hex Codes: #C6808C | #6D5B87 | #44364B | #EC745C | #F5AD8C
// Hex Codes: #461E52 | #DD517F | #E68E36 | #556DC8 | #7998EE. cyberpunk palatte


// personal 

// $color1 : #AB2838;
// $color2 : #c99a34;
// $color3 : #606c8a;
// $color4 : #ffffff;
// $color5 : #020202;

// red


$color1 : #4B1517;
$color2 : #7C1715;
$color3 : #9E1C29;
$color4 : #AB2838;
$color5 : #B84656;
